#FILE HANDLING

Write-To write and read-w

Read- Only read, no write-r

Append- Read, write and append -a

In [ ]:
file=open("fileEx.txt")
file

In [ ]:
file.readline()

''

In [ ]:
open("fileEx.txt","a")

In [ ]:
file=open("fileEx.txt","w+") #write plus
print(file.read())
print(file.write("Joice Ann Mathew"))
file.close()

16

In [ ]:
file=open("fileEx.txt","w+")
file.write("This is the 21st century\n") #existing text is replaced with the new one

24

In [ ]:
file=open("fileEx.txt","a+")
file.write("This is the year 2022.\n")
file.close()

In [ ]:
file=open("fileEx.txt")
file.readline()

'This is the 21st centuryThis is the year 2022This is the year 2022This is the year 2022\n'

In [ ]:
file=open("fileEx.txt","a+")
file.writelines(["Thursday\n","Today is 11 Nov 2022\n"])
file.close()

In [ ]:
file=open("fileEx.txt")
file.readlines()

['This is the 21st centuryThis is the year 2022This is the year 2022This is the year 2022\n',
 'This is the year 2022 \n',
 ' This is the year 2022\n',
 'This is the year 2022.This is the year 2022\n',
 'Today is 11 Nov 2022ThursdayToday is 11 Nov 2022']

Read- read will give exact contents of the file

readline- first line

readlines-all lines as a list

In [ ]:
file2=open("Jokuttan","r")
file2.read()

'I am Joice\nI am from Bangalore'

In [ ]:
file2=open("Jokuttan","r")
print(file2.readlines())

['I am Joice\n', 'I am from Bangalore']

#Append to a file

To add new lines to a file

In [ ]:
file2=open("Jokuttan","a")
file2.write("\nThis is a new detail.")
file2.close()
file2=open("Jokuttan","r")
print(file2.readlines())

['I am Joice\n', 'I am from Bangalore\n', 'This is a new detail.']

#Write contents to a file.

writelines or writeline is used to rewrite the file completely

In [ ]:
file2=open("Jokuttan","w")
file2.writelines("I am Joice Ann Mathew")
file2.close()

#HANDLING A CSV FILE

In [15]:
file3=open("Jo_one.csv","r")
lines=file3.readlines()
for line in lines:
  print(line.replace(',','\t|\t'))

Name	|	Email	|	Contact No.	|	Reg No

Benit Renny	|	benit.renny@gmail.com	|	8965473452	|	1976543

Archana V	|	archana.v@gmail.com	|	9983661781	|	1976544

Joice Ann	|	joice.mathew@gmail.com	|	8736817268	|	1976545

Daniel D	|	daniel.d@gmail.com	|	9980345271	|	1976546

Diya Tomy	|	diya.tomy@gmail.com	|	7765342892	|	1976547

In [16]:
file3=open("Jo_one.csv","r")
lines=file3.readlines()
for line in lines:
  print(line.strip().replace(',','\t|\t'))

Name	|	Email	|	Contact No.	|	Reg No
Benit Renny	|	benit.renny@gmail.com	|	8965473452	|	1976543
Archana V	|	archana.v@gmail.com	|	9983661781	|	1976544
Joice Ann	|	joice.mathew@gmail.com	|	8736817268	|	1976545
Daniel D	|	daniel.d@gmail.com	|	9980345271	|	1976546
Diya Tomy	|	diya.tomy@gmail.com	|	7765342892	|	1976547

In [19]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
df=pd.read_csv('/content/Jo_one.csv')
df

          Name                   Email  Contact No.   Reg No
0  Benit Renny   benit.renny@gmail.com   8965473452  1976543
1    Archana V     archana.v@gmail.com   9983661781  1976544
2    Joice Ann  joice.mathew@gmail.com   8736817268  1976545
3     Daniel D      daniel.d@gmail.com   9980345271  1976546
4    Diya Tomy     diya.tomy@gmail.com   7765342892  1976547

In [4]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.columns

Index(['Name', 'Email', 'Contact No.', 'Reg No'], dtype='object')

In [7]:
df.shape

(5, 4)

In [10]:
df.head()

          Name                   Email  Contact No.   Reg No
0  Benit Renny   benit.renny@gmail.com   8965473452  1976543
1    Archana V     archana.v@gmail.com   9983661781  1976544
2    Joice Ann  joice.mathew@gmail.com   8736817268  1976545
3     Daniel D      daniel.d@gmail.com   9980345271  1976546
4    Diya Tomy     diya.tomy@gmail.com   7765342892  1976547

In [11]:
df.tail()

          Name                   Email  Contact No.   Reg No
0  Benit Renny   benit.renny@gmail.com   8965473452  1976543
1    Archana V     archana.v@gmail.com   9983661781  1976544
2    Joice Ann  joice.mathew@gmail.com   8736817268  1976545
3     Daniel D      daniel.d@gmail.com   9980345271  1976546
4    Diya Tomy     diya.tomy@gmail.com   7765342892  1976547

In [22]:
import pandas as pd
data=pd.read_csv('/content/Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [23]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [24]:
data.shape

(150, 6)